<h4>qiniu-icons-view [site]</h4>
<div class="qiniu-icons-view">
  <qiniu-icons-view [qiniu]="site" [prefix]="sitePrefix" (uploaded)="onUploaded($event)" (select)="onSelect($event)" (delete)="onDeleted($event)"></qiniu-icons-view>
</div>

<h4>[site]</h4>
<qiniu-img-input [(ngModel)]="value" [qiniu]="site" [prefix]="sitePrefix"></qiniu-img-input>

<h4>with form [site]</h4>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4>ngModel</h4>
  <qiniu-img-input formControlName="value" [(ngModel)]="value" [qiniu]="site" [prefix]="sitePrefix"></qiniu-img-input>
  <h4>readonly</h4>
  <qiniu-img-input formControlName="value" [(ngModel)]="value" [readonly]="readonly" [qiniu]="site" [prefix]="sitePrefix"></qiniu-img-input>
  <h4>id</h4><label [attr.for]="id">Click to Select</label>
  <qiniu-img-input formControlName="value" [(ngModel)]="value" [id]="id" [qiniu]="site" [prefix]="sitePrefix"></qiniu-img-input>
  <br/><button class="btn btn-default" type="submit">submit</button>
</form>

<h4>service [profile]</h4>
<button class="btn btn-default" type="button" (click)="onOpen()">open modal</button>

<h4>result here</h4>
<img [src]="value" *ngIf="value" />