<div [trianglify]="value">
  <trianglify-input [(ngModel)]="value"></trianglify-input>

  <h4>with form</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h4>ngModel</h4>
    <trianglify-input formControlName="value" [(ngModel)]="value"></trianglify-input>
    <h4>readonly</h4>
    <trianglify-input formControlName="value" [(ngModel)]="value" [readonly]="readonly"></trianglify-input>
    <h4>id</h4><label [attr.for]="id">Click to Select</label>
    <trianglify-input formControlName="value" [(ngModel)]="value" [id]="id"></trianglify-input>
    <br/><button class="btn btn-default" type="submit">submit</button>
  </form>

  <h4>service</h4>
  <button class="btn btn-default" type="button" (click)="onOpen()">open modal</button>
</div>