<div class="row">
  <nav class="col-sm-2">
    <a routerLink="/amap-input" routerLinkActive="active">amap-input</a>
    <a routerLink="/bg-input" routerLinkActive="active">bg-input</a>
    <a routerLink="/colorful-input" routerLinkActive="active">colorful-input</a>
    <a routerLink="/fa-input" routerLinkActive="active">fa-input</a>
    <a routerLink="/pattern-input" routerLinkActive="active">pattern-input</a>
    <a routerLink="/phone-input" routerLinkActive="active">phone-input</a>
    <a routerLink="/qiniu-img-input" routerLinkActive="active">qiniu-img-input</a>
    <a routerLink="/smd-input" routerLinkActive="active">smd-input</a>
    <a routerLink="/trianglify-input" routerLinkActive="active">trianglify-input</a>
  </nav>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>